#header_menu_user {
	font-size: 10px;
}

#header_menu_user ul {
	padding: 0;
	margin: 0;
	float: right;
	width: auto;
	list-style: none;
}

#header_menu_user ul li {
	display: inline;
}

#header_menu_user ul li a {
	padding: 2px 10px;
	float: right;
	text-decoration: none;
	/*border-bottom: 1px solid #EDEDED;*/
	font-weight: bold;
}

#header_menu_user ul li a:hover {
	/*border-bottom: 1px solid #000;*/
}