#header_menu_user {
	width: 950px;
	height: 26px;
	padding: 0px;
}

#header_menu_user ul {
	padding: 0px;
	margin-top: 15px;
	float: right;
	width: auto;
	list-style: none;
}

#header_menu_user ul li a {
	padding: 0;
	margin-bottom: 15px;
	float: right;
	text-decoration: none;
	font-weight: bold;
}

#header_menu_user ul li a:hover {
}