body {
	padding: 0;
	margin: 0;
}

#container {
	width: 950px;
	margin: 5px auto;
}

#header {
	background: url(images/header.png) no-repeat top center;
	width: 950px;
	height: 135px;
}

#header a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#header a:hover {
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
}

#destaque {
	background: #FFFFFF url(images/festa.png) no-repeat top center;
	margin: 0;
	width: 750px;
	height: 150px;
}

#destaque a {
	color: #fff;
	font-weight: normal;
	text-decoration: none;
}
#destaque a:hover {
	color: #CC0000;
	font-weight: bold;
	text-decoration: none;
	border-width: 5px;
}